.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    background-color: rgb(82, 82, 82);
    
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.logo {
    margin-left: 20px;
}

.nav {
    height: 100%;
}
.nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
} 

.nav__item {
    margin-left: 10px;
}

.nav__link {
    text-decoration: none;
    color: #000;
}