/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion > img {
    width: 50px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000
}

a:hover {
    color: #5a5a5a;
    transition: .45s ease all;
}

/* Стили для смартфона */
@media (max-width: 767px) {
    .accordion {
        height: 100px;
        font-size: 40px;
    }

    .accordion > a {
        font-size: 40px;
    }
    
}

/* Стили для планшета */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Стили для компьютера */
@media (min-width: 1024px) {

}